/* DamageCalc.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.panels {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.resultBox {
  margin-top: 40px;
  background-color: #f8f8f8;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.resultTitle {
  margin-bottom: 0.5rem;
}
