.global-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: #fff;
    border-left: 2px solid #ccc;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto; 
  }
  
  .scrollable-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
  }
  
  .close-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    background: rgb(134, 134, 134);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .sidebar-header {
    text-align: center;
  }
  
  .sidebar-sprite {
    width: 96px;
    height: 96px;
    object-fit: contain;
    margin-bottom: 0.5rem;
  }
  
  .sidebar-info {
    margin-top: 1rem;
    font-size: 0.95rem;
  }
  
  .stat-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0.5rem;
  }
  
  .stat-table th,
  .stat-table td {
    border: 1px solid #ccc;
    padding: 0.25rem 0.5rem;
    text-align: center;
  }

  .hidden-power-info p{
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .hidden-power-info{
    border-color: #333;
    border-width: 4px;
    border-style:groove;
    margin-top: 40px;
  }
  
  .moves-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }
  
  .move-chip {
    background-color: #cccbcb;
    border-radius: 9999px;
    padding: 0.3rem 0.75rem;
    text-align: center;
    font-size: 0.975rem;
    font-weight: 500;
    color: #333;
  }
  